@import url("https://fonts.google.com/specimen/Raleway");
@import url("https://fonts.google.com/specimen/Open+Sans");
body {
  background-color: #1e2024;
  color: aliceblue;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-weight: normal;
}

p {
  font-size: 0.8rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  position: fixed;
  padding-left: 1rem;
  z-index: 2;
  top: -1.3rem;
  left: -1.3rem;
  width: 98%;
  background: #181f2a;
}

header img {
  width: 6rem;
  height: 2rem;
  margin-top: 1rem;
}

.navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2rem;
}

.navlinks {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  font-size: 0.8rem;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #1c2431;
}

.hero img {
  width: 25rem;
  margin: auto;
}

.hero-header {
  max-width: 30ch;
  margin: 1rem 2rem;
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
}

.hero-text {
  max-width: 40ch;
  margin: 1rem 2rem;
  font-weight: normal;
  font-size: 1.2rem;
}

.hero button {
  margin-top: 0.3rem;
  padding: 0.5rem 4rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 2rem;
}

.services {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service {
  margin: 3rem 1rem;
}

.service-header {
  margin: 0.5rem 2rem;
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
}

.service-text {
  font-size: 1rem;
  text-align: center;
  max-width: 30ch;
  margin: auto;
}

.subservice {
  margin: 2rem;
}

.subservice-img {
  float: left;
  width: 20rem;
  margin-right: 2rem;
}

.subservice-text {
  max-width: 30ch;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.subservice-header {
  font-size: 1.4rem;
  margin-right: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Raleway', sans-serif;
}

.subservice-link {
  color: #1ab3ff;
  text-decoration: none;
  border-bottom: 1px solid #1ab3ff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 0.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.arrow {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 2rem 1.5rem;
}

.testimonial {
  max-width: 18rem;
  margin: 0.9rem 1rem;
  background: #202a3c;
  padding: 0.1rem 1rem 1rem 1rem;
  border-radius: 0.2rem;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0.2rem 0.2rem 8px rgba(0, 0, 0, 0.7);
          box-shadow: 0.2rem 0.2rem 8px rgba(0, 0, 0, 0.7);
}

.testimonial-text {
  font-size: 1rem;
}

.person {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -webkit-column-gap: 0.7rem;
          column-gap: 0.7rem;
  -ms-grid-rows: 2em;
      grid-template-rows: 2em;
}

.person img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  place-self: center;
}

.name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2rem;
  margin: 0;
  margin-left: 0.3rem;
}

.title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0.3rem 0;
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.quotes {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -0.8rem;
  left: 3%;
}

.quotes2 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: -0.8rem;
  right: 3%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.signup {
  background: #1c2431;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 2rem 2rem 2rem;
  margin: 2rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0.2rem 0.2rem 8px rgba(0, 0, 0, 0.7);
          box-shadow: 0.2rem 0.2rem 8px rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
}

.signup-header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 0.7rem 0.5rem;
}

.signup-text {
  text-align: center;
  font-size: 1rem;
  max-width: 65ch;
  margin: auto;
  margin-bottom: 1rem;
}

.signup form {
  width: 100%;
  margin-top: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#email {
  padding: 0.5rem 5rem 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
}

#email:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

#email:focus:-ms-input-placeholder {
  opacity: 0.5;
}

#email:focus::-ms-input-placeholder {
  opacity: 0.5;
}

#email:focus::placeholder {
  opacity: 0.5;
}

#email:focus {
  outline: none;
}

.signup button {
  padding: 0.5rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: none;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2rem;
  margin: 0 0.2rem;
  margin-bottom: 0.5rem;
}

.bfooter {
  background: #0b1523;
  padding-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4rem;
}

.fimg-cont {
  width: 90%;
}

.fimg-cont > img {
  width: 6rem;
  height: 2rem;
}

.flink-cont {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.location {
  max-width: 60ch;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 5fr;
      grid-template-columns: 0.5fr 5fr;
  margin-bottom: 2rem;
}

.location img {
  margin-top: 1.1rem;
  width: 1rem;
}

.location p {
  display: inline;
  font-size: 0.9rem;
}

.mailphone {
  width: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.mailphone-sub {
  margin: 0.5rem;
}

.mailphone img {
  display: block;
  margin-bottom: 0.3rem;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  width: 1rem;
}

.mailphone a {
  color: white;
  text-decoration: none;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem 2rem 1rem;
}

.footer-link a {
  color: white;
  text-decoration: none;
  margin: 0.3rem 0;
}

.socials {
  margin-top: 0.5rem;
}

.socials a {
  color: white;
  text-decoration: none;
}

.fa {
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 0.3rem 0.5rem;
  margin: 0 0.1rem;
}

.fa-twitter {
  padding: 0.3rem 0.4rem;
}

@media screen and (max-width: 40rem) {
  .subservice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subservice-img {
    float: none;
    margin: auto;
  }
  .subservice-header {
    text-align: center;
    margin: 0.5rem 2rem;
  }
  .subservice-text {
    max-width: 50ch;
  }
}

@media screen and (max-width: 38rem) {
  #email {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: initial;
    padding-right: 0;
  }
  .signup form {
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  #email {
    margin: 0;
  }
  .signup button {
    margin: 0.5rem 0;
    padding: 0.7rem;
  }
}

@media screen and (max-width: 30rem) {
  .navlinks {
    margin: 0 0.4rem;
  }
  .navlist {
    margin-right: 1.5rem;
    margin-left: -1rem;
  }
  .hero img {
    width: 15rem;
    margin: 2rem auto;
  }
  .subservice-img {
    width: 15rem;
    margin: 2rem auto;
  }
  .title {
    margin-left: 0.3rem;
  }
  .signup {
    padding: 0rem 1rem;
    min-width: 13rem;
    -webkit-transform: translateY(9rem);
            transform: translateY(9rem);
  }
  .signup form {
    padding-bottom: 1rem;
  }
  .bfooter {
    padding-top: 10rem;
  }
  .signup-text {
    max-width: 25ch;
  }
  .testimonial {
    min-width: 12rem;
  }
  .flink-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location {
    margin-bottom: 0;
    margin-left: 0.8rem;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
    -ms-grid-columns: 1rem 5fr;
        grid-template-columns: 1rem 5fr;
  }
  .mailphone {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .mailphone-sub img {
    margin-right: 1.2rem;
    margin-left: 0.2rem;
    display: inline;
  }
  .footer-link {
    margin-left: 0.8rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .socials {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 19rem) {
  header img {
    width: 4rem;
    height: 1.5rem;
    -webkit-transform: translateY(0.3rem);
            transform: translateY(0.3rem);
  }
}

button {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
}

button:hover {
  -webkit-transform: rotateY(25deg);
          transform: rotateY(25deg);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

a:hover {
  opacity: 0.7;
}

button:active,
a:active {
  opacity: 0.5;
}

a:visited {
  text-decoration: underline;
  color: white;
}
/*# sourceMappingURL=style.css.map */